@model IEnumerable<blog.Models.Category>
@using blog.Helpers
@{BlogPostHelper blogPostHelper = new BlogPostHelper();}
@{ ViewBag.Title = "Index"; }

<h2>Categories</h2>


<div class="site-section py-0">
    @foreach (var category in Model)
    {
        if (category.blogPosts.Count > 0)
        {<div class="row">

                <span><h2>@category.Name</h2></span>
                <div class="owl-carousel hero-slide owl-style ">

                    @foreach (var blogPost in category.blogPosts)
                    {

                        <div class="site-section">
                            <div class="container">
                                <div class="half-post-entry d-block d-lg-flex bg-light">
                                    @if (blogPost.MediaURL != null)
                                    {
                                        <div class="img-bg" style="background-image: url('@blogPost.MediaURL')"></div>
                                    }
                                    <div class="contents">
                                        <span class="caption">Editor's Pick</span>

                                        <a href=@Url.Action("Details", "BlogPosts", new { slug = blogPost.Slug })><h2>@blogPost.Title</h2></a>
                                        <p class="mb-3">@blogPost.Abstract</p>

                                        <div class="post-meta">
                                            <span class="d-block"><a href="https://tz-coderfoundry-portfolio.netlify.app/" class="nav-link text-left" target="_blank">Thomas Zanis</a> in <span> @blogPostHelper.PrintCategories(blogPost.Categories.ToList())</span></span>
                                            <span class="date-read">@blogPost.Created.ToString("MMM dd yyyy") </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        }
    }

</div>

