@model blog.ViewModels.BlogPostDetailsVM
@{
    ViewBag.Title = "Details";
}
    < class="site-section">
<div class="container">
    <h2>Details</h2>
    <div class="row">
        <div class="col-lg-8 single-content">

            <p class="mb-5">
                @if (Model.BlogPost.MediaURL != null)
                {
                    <img src="@Model.BlogPost.MediaURL" alt="Image" class="img-fluid">

                }
            </p>
            <h1 class="mb-4">
                @Model.BlogPost.Title
            </h1>
            <div class="post-meta d-flex mb-5">
                <div class="bio-pic mr-3">
                    @if (Model.BlogPost.MediaURL != null)
                    {
                        <img src="@Model.BlogPost.MediaURL" alt="Image" class="img-fluidid">
                    }
                </div>
                <div class="vcard">
                    <span class="d-block"><a href="#">Thomas Zanis</a></span>
                    <span class="d-block">Categories:<p> @Model.BlogPost.Categories</p></span>
                    <span class="date-read">@Model.BlogPost.Created.ToString("MMM dd yyyy")</span>
                </div>
            </div>
            <p>@Html.Raw(Model.BlogPost.Body)</p>
        </div>

        <div class="col-lg-3 ml-auto">
            <div class="section-title">
                <h2>Popular Posts</h2>
            </div>
            @{ var count = 1;}
            @foreach (var post in Model.SidePosts)
            {
                <div class="trend-entry d-flex">
                    <div class="number align-self-start">@count</div>
                    <div class="trend-contents">
                        <h2><a href="@Url.Action("Details", new { slug = post.Slug })">News Needs to Meet Its Audiences Where They Are</a></h2>
                        <div class="post-meta">
                            <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                            <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                        </div>
                    </div>
                </div>
                { count++; }
            }

        </div>
    </div>
</div>

<div class="pt-5">
    <div class="section-title">
        <h2 class="mb-5">6 Comments</h2>
    </div>
    <ul class="comment-list">
        @foreach (var comment in Model.BlogPost.Comments)
        {
            <li class="comment">
                <div class="vcard bio">
                    <img src="images/person_1.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@comment.Author</h3>
                    <div class="meta">@comment.Created.ToString("MMM dd yyyy")</div>
                    <p>@Html.Raw(comment.Body)</p>

                </div>
            </li>
        }
    </ul>
</div>




@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="=row">
            <div class="col-md-6 col-md-offset-3">
                @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("BlogPostId", Model.BlogPost.Id)
                    @Html.Hidden("Slug", Model.BlogPost.Slug)
                    @Html.TextArea("Body", new { @class = "form-control" })
                    @Html.ValidationMessage("Body", "", new { @class = "text-danger" })
                    <br />
                    <button class="btn btn-danger" type="submit">Submit Comment</button>
                }
            </div>
        </div>
    </div>
}


<div class="container">
    <p>
        @Html.ActionLink("Home", "Index", "Home") |

        @Html.ActionLink("Back to List", "Index") |
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.BlogPost.Id }) <span> |</span>
        }


    </p>
</div>
@section Scripts {
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/tmce.js"></script>


}
